/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */


/*? Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {

    .home-section{
        width: 70%;
        /* background: #000; */
    }
}


/*? Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    *{
        padding: 0;
        margin: 0;
    }
    .main{

        height: 100vh;
    }
    .home{
        height: 100vh;

    }
    .home nav{
        /* background: #000; */
        width: 90%;
        height: 17vh;
    }
    .main .home nav .logo img{
        width: 80px;
    }
    .home-section{
        /* background: #000; */
        position: relative;
        top: 50px;
        height: 55vh;
        width: 70%;
    }
    .home-section :nth-child(1){
        font-size: 28px;

    }
    .home-section :nth-child(2){
        font-size: 16px;
    }
    .home-section :nth-child(3){
        font-size: 16px;
    }
    .home-section form input{
        width: 143px;
        height: 25px;
        padding: 24px 16px 8px;
    }
    .home-section form input::placeholder{
        font-size: 15px;
    }


}
/*? Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}