*{
    padding: 0px;
    margin: 0px;
    color: rgb(223, 243, 11);
}
/* .banner0{
    padding: 0%;
    margin: 0%;
    
} */
.banner1{
    width: 100%;
    height: 70vh;
    background-image:linear-gradient( rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55) ), url(./images/bg-netflix.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    position: relative;
    top: 0%;
    z-index: 2;
}
#nav-logo{
    position: relative;
    left: 30px;
    width: 150px;
}
#nav-button{
    position: relative;
    float: right;
     width: 100px;
}
.home-content{
    position: absolute;
    top: 50%;
}