* {
  padding: 0;
  margin: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
body{
    background: black;
}
.containerR {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}
.containerC {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.containerWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.redBtn {
  background: #E50914;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: 600;
}
.redBtn:hover {
  background: #E50914;
}


.main {
  background: url(./assets/images/bg-netflix.jpg);
  height: 100vh;
  display: flex;
  background-position: center center;
  background-size: max(1500px, 100vh);
  background-repeat: no-repeat;
}
.main .home {
    width: 100%;
    height: 100vh;
  background: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.8)
  );

  position: relative;
}

/* ? navbar section ----------- */
.nav {
  height: 13vh;
  width: 84%;
  /* background: #000; */
  position: absolute;
  top: 0;
  justify-content: space-between;
}
.nav .logo img {
  width: 150px;
  /* opacity: 1; */
}

/*? Home section -----------------*/
.home-section {
  /* background: #000; */
  width: 40%;
  height: 50vh;
  justify-content: space-evenly;
  text-align: center;
  position:  relative;
  top: 70px;
}
.home-section h1 {
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
}
.home-section span,
p {
  font-size: 15px;
}
.home-section form {
  height: 50px;
  width: 100%;
  /* background: #dc9090; */
}
.home-section form input {
  width: 250px;
  background: #000;
  opacity: 0.8;
  border: 1px solid #b8b8ba;
  margin-right: 10px;
  padding: 25px 20px 8px;
  border-radius: 5px;
}
.home-section form input::placeholder {
  color: #b8b8ba;
}
.home-section form button {
    height: 100%;
    
}



